body {background-color: #23221f; font-family:arial;}
h1 { color:#b2d0cc; font-size:80px;font-family: 'Petit Formal Script', cursive, arial; height:45px;}
#intro { color:#F3F4E5;
  font-family:Georgia;
  font-size:18px;
  margin-left:111px;
  width:400px;} 
